.About-page{
    margin-left: 220px;
    padding: 0px 10px;
}

.About-page__developer{
    text-align: right;
    margin-top: 32.8rem;
}

.About-page__link{
   text-align: right;
   margin-left: 90%;
}