.Cadastro-page{
    margin-left: 220px;
    padding: 0px 10px;
}

.Cadastro-page__lista{
    display: inline-block;
    vertical-align: top;
}

.Cadastro-page__navlink{
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
    margin-bottom: 1rem;
}

.Cadastro-page__p{
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}

.Cadastro-page__input{
    font-size: 1rem;
    margin-bottom: 0.4rem;
}

.Cadastro-page__novoSubordinadoButton{
    font-size: 1rem;
    margin-top: 0.01rem;
}

.Cadastro-page__enviarButton{
    margin-top: 1rem;
    font-size: 1rem;
    vertical-align: top;
}