.Filtro{
    padding: 0;
}

.Filtro__text-input{
    margin-top: 1.2rem;
    margin-right: 2rem;
    font-size: 1rem;
}

.Filtro__button{
    font-size: 1rem;
    margin-left: 30.8rem;
    margin-top: 0.8rem;
}