.Portaria{
    background-color: lightblue;
    border-right: -3rem;
    
}

.Portaria__p-id{
    display: inline-block;
    vertical-align: top;
}

.Portaria__p-cidade{
    display: inline-block;
    vertical-align: top;
    margin-left: 3rem;
}

.Portaria__p-endereco{
    display: inline-block;
    vertical-align: top;
    margin-left: 4rem;
}

.Portaria__p-telefone{
    margin-left: 0.7rem;
}