.Portaria__p-id{
    display: inline-block;
    vertical-align: top;
}

.Portaria__p-cidade{
    display: inline-block;
    vertical-align: top;
    margin-left: 7rem;
}

.Portaria__p-endereco{
    display: inline-block;
    vertical-align: top;
    margin-left: 12rem;
}